.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, contain;
}

.image-2 {
  background-color: transparent;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.section {
  background-image: url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}

.section.tint {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
}

.heading {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  line-height: 55px;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
}

.columns {
  padding-left: 100px;
}

.text-field {
  margin-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  line-height: 55px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  padding-right: 140px;
}

.submit-button {
  border-radius: 10px;
}

.image-3 {
  padding-top: 40px;
}

.image-4 {
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(180deg, transparent, transparent);
  color: #000;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.div-block {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 400px;
  height: 500px;
  margin: auto;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.body-2 {
  background-image: url('../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.heading-2 {
  margin-top: 100px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit-button-2 {
  margin-top: 40px;
  border-radius: 10px;
}

.html-embed {
  height: 38px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
}

.text-field-2 {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  line-height: 38px;
}

.html-embed-2 {
  height: 38px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
}

.html-embed-3 {
  height: 38px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
}

.field-label {
  margin-top: 20px;
}

.field-label-2 {
  margin-top: 10px;
}

.field-label-3 {
  margin-top: 10px;
}

.text-block {
  display: none;
  margin-top: 10px;
  color: red;
  text-align: center;
}

.text-block-2 {
  display: none;
  color: red;
}

.text-block-3 {
  display: none;
  color: red;
}

.text-block-4 {
  display: none;
  color: red;
}

.text-block-5 {
  margin-top: 60px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
}

.text-block-6 {
  margin-top: 60px;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .columns {
    padding-left: 20px;
  }

  .text-field {
    margin-bottom: 10px;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column {
    padding-right: 10px;
  }

  .form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 40px;
    line-height: 45px;
  }

  .paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

